*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
    position: relative;
}
.to-do{
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px ;
    border-radius: 20px;
}
.to-do h1{
    column-rule: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
   display: flex;
   align-items: center;
   justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row input{
    flex: 1;
    border: none;
    border-radius: 30px;
    padding: 10px;
}
.row button{
    padding: 10px;
    border-radius: 30px;
}
.list-group{
    background-color: red;
    height: 20px;
    width: 200px;
}
.list{
    width: 100%;
    /* display: flex; */
    gap:10px ;
    align-items: center ;
    justify-content: space-between;

}
.listbox{
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
}
.inputdata{
    margin-left: 20px;
    padding: 8px;
    width: 400px;
    border-radius: 30px;
    /* text-decoration: line-through; */
}
.delete{
    position: absolute;
    padding: 8px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px black;
    margin-top: 30px;
    display: none;
    
}